body{
    background: #230312;
    line-height: 22px;
}
.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 800;
    padding: 1%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 25px;
}
h1 {
    margin: 2%;
    font-size: 1.5em;
    font-style: italic;
    color: #F3F3F3;
}

table {
    border-collapse: collapse;
    margin-left: 15%;
    margin-right: 15%;
    width: 100%;

}

th {
    padding: 18px;
    font-weight: bold;
    text-align: center;

}

tr,
td {
    padding: 10px;
    text-align: center;
}
.table{
    background-color: transparent;
}
.table img{
    border-radius: 50%;
}
.table p{
    color: #F3F3F3;
}
/* div containing the cocktails */
.image-container {
    display: relative;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

/* div wrapping indivual image to easen styling */
.wrapping {
    max-width: 100%;
    background-color: transparent;
    transition: 0.3s;
    margin-top: 30px;
}

.wrapping:hover {
    transform: scale(1.1);
}

.wrapping img {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapping h4 {
    text-align: center;
    size: 22pt;
    color: #F3F3F3;
    
}

#latest, 
#recent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 100px;
} 


.image-container h2 {
    margin: 2%;
    font-size: 2em;
    text-align: center;
    font-style: italic;
    color: #F3F3F3;
}


/* footer */
.footer {
    display: inline;
}

p.copyright {
    text-align: center;
    margin-top: 30px;
    color: #F3F3F3;
    
}